@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f7;
    font-family: "Roboto" , "Cinzel","Poppins";
    margin: 8%;
}
.container{
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
}
.sign-up , .log-in{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.5s ease-in-out;
}
.sign-up{
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.log-in{
    width: 50%;
    z-index: 2;
}
.log-in p strong a{
    font-size: 15px;
}
form{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    height: 100%;
}
h1{
    font-size: 32px;
    font-weight: 600;
    font-family: "Poppins";
    margin-bottom: -10px;
}
p{
    font-family: "Roboto";
    font-weight: normal;
    text-align: center;
    display: block;
    font-size: 14px;
    line-height: 20px;
}
input{
    background: #eee;
    padding: 12px 15px;
    border: none;
    outline: none;
    width: 100%;
    margin: 10px 15px;
    border-radius: 5px;
    transition: all 0.5s;
}
input:focus{
    transform: scale(1.03);
    border: 1px #2e2c2c solid;
}
input:focus::placeholder{
    color: #000;
}
a{
    color: #333;
    margin: 0;
    background-color: #fff;
    font-size: 18px;
    text-decoration: none;
}
button{
    padding: 5px 20px;
    color: #050505;
    font-size: 14px;
    font-family: "Roboto";
    background-color: #8ababec5;
    font-weight: bold;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    outline: none;
    border: 2px solid #000;
    transition: all 0.5s ease-in;
}
button:active{
    transform: scale(0.8);
}
#log-btn , #sign-btn{
    background: transparent;
    border: 2px solid #fff;
}
.container.right-panel-active .log-in{
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
}
.container.right-panel-active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
.overlay-container{
    width: 50%;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transition: all 0.5s ease-in-out;
    z-index: 100;
}
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
.overlay{
    position: relative;
    color: #ffffff;
    background: url("bg.jpg") no-repeat ;
    background-size: cover;
    background-color: rgba(114, 114, 114, 0.633);
    background-blend-mode: darken;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}
.overlay button{
    color: #fff;
}
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.left-overlay , .right-overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    top: 0;
    padding: 0 30px;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}
.left-overlay{
    left: 0;
    transform: translateX(0);
}
.right-overlay{
    right: 0;
    transform: translateX(-15%);
}
.container.right-panel-active .left-overlay{
    transform: translateX(10%);
}
.container.right-panel-active .right-overlay{
    transform: translateX(0);
}
.social-icons{
    margin: 20px 0;
}
.social-icons a{
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px #ccc solid;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.social-icons a:hover{
    background-color: black;
    color: white;
    transform: scale(1.2);
}
@media (max-width:850px) {
    h1{
        font-size: 28px;
    }
    p{
        font-size: 13px;
    }
    button{
        font-size: 13px;
    }
    .social-icons a{
        width: 30px;
        height: 30px;
        margin-bottom: -20px;
    }
    a{  
        font-size: 15px;
    }
    input{
        padding: 10px 13px;
    }
}
@media (max-width:730px) {
    body{
        margin: 5%;
    }
    .container{
        top: 50px;
    }
    .right-overlay{
        right: 0;
        transform: translateX(-10%);
    }
    .container.right-panel-active .left-overlay{
        transform: translateX(10%);
    }
    h1{
        font-size: 24px;
    }
    .log-in h1{
        font-size: 25px;
    }
    p{
        font-size: 11px;
    }
    button{
        font-size: 11px;
    }
    .social-icons a{
        width: 25px;
        height: 25px;
        margin-bottom: -10px;
    }
    a{  
        font-size: 11px;
    }
    input{
        padding: 7px 9px;
    }
}
@media (max-width:590px) {
    .container{
        top: 70px;
    }
    .right-overlay{
        right: 0;
        transform: translateX(0);
    }
    .container.right-panel-active .left-overlay{
        transform: translateX(-2%);
    }
    h1{
        font-size: 22px;
    }
    .log-in h1{
        font-size: 23px;
    }
    button{
        font-size: 10px;
    }
    input{
        padding: 6px 8px;
    }
}
@media (max-width:480px) {
    .container{
        position: relative;
        width: 350px;
        max-width: 100%;
        min-height: 500px;
        overflow: hidden;
    }
    .sign-up , .log-in{
        position: absolute;
        top: 0;
        left: 0;
        height: 50%;
        transition: all 0.5s ease-in-out;
    }
    .sign-up{
        width: 100%;
        opacity: 0;
        z-index: 1;
    }
    .log-in{
        width: 100%;
        z-index: 2;
    }
    form{
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0 20px;
        height: 100%;
        margin-top: 10px;
    }
    h1{
        font-size: 20px;
        font-weight: bold;
        font-family: "Cinzel";
    }
    p{
        font-family: "Roboto";
        text-align: center;
        font-size: 11px;
        line-height: 10px;
    }
    input{
        padding:6px 8px;
        width: 60%;
        margin: 5px auto;
    }
    a{
        font-size: 11px;
    }
    button{
        padding: 5px 20px;
        font-size: 11px;
        font-family: "Roboto";
        margin: 10px auto;
        transition: all 0.5s ease-in;
    }
    .container.right-panel-active .log-in{
        transform: translateY(100%);
        opacity: 0;
        z-index: 1;
    }
    .container.right-panel-active .sign-up{
        transform: translateY(82%);
        opacity: 1;
        z-index: 5;
    }
    .overlay-container{
        width:100%;
        overflow: hidden;
        height: 100%;
        position: absolute;
        top: 60%;
        left: 0;
        transition: all 0.5s ease-in-out;
        z-index: 100;
    }
    .container.right-panel-active .overlay-container{
        top: 40%;
        transform: translateY(-100%);
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 200%;
        width: 100%;
        transform: translateY(-65%);
        transition: all 0.5s ease-in-out;
    }
    .container.right-panel-active .overlay{
        transform: translateY(0);
    }
    .left-overlay , .right-overlay{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40%;
        width: 100%;
        top: 0;
        padding: 0 20px;
        transform: translateY(0);
        transition: all 0.5s ease-in-out;
    }
    .left-overlay{
        top: 0;
        left:0;
        transform: translateY(0);
    }
    .right-overlay{
        bottom: 0;
        left: 0;
        transform: translateY(135%);
    }
    .container.right-panel-active .left-overlay{
        transform: translateY(50%);
    }
    .container.right-panel-active .right-overlay{
        transform: translateY(130%);
    }
    .social-icons a{
        height: 25px;
        width: 25px;
        margin: 0 5px;
    }

}
